<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-center">
        <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
          <!-- <form action="/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
          </form> -->
          <form action="/login" method="POST">
            <div class="hero min-h-screen  bg-base-100">
              <div class="hero-content flex-col lg:flex-row-reverse">
                <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-300">
                  <div class="card-body">
                    <div class="form-control">
                      <label for="exampleInputEmail1" class="form-label">
                        <span class="label-text">Email</span>
                      </label>
                      <input type="email" placeholder="example@mail.com" class="form-control input input-bordered" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"/>
                    </div>
                    <div class="form-control">
                      <label for="exampleInputPassword1" class="form-label label">
                        <span class="label-text">Password</span>
                      </label>
                      <input type="password" placeholder="password" class="form-control input input-bordered" id="exampleInputPassword1" name="password"/>
                      <!-- Implement password recovery with email -->
                      <!-- <label class="label">
                        <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                      </label> -->
                    </div>
                    <div class="form-control mt-6">
                      <button type="submit" class="btn btn-primary">Login</button>
                      <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
</main>
    

<%- include('partials/footer') -%>